h2 {
  color: #00247d;
  font-size: 2.5rem;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .services .card-deck {
    width: 75%;
  }
}

.services .fa-check {
  color: #ffa401;
}

.contact {
  background-color: rgba(255, 164, 1, 0.5);
}

.contact-info {
  list-style: none;
  padding: 0;
}

.contact-info .fa-phone,
.contact-info .fa-envelope,
.suburbs .fa-map-marker-alt {
  color: #00247d;
}

.footer {
  font-size: 0.8rem;
  color: #ffffff;
  background-color: rgba(0, 36, 125, 0.5);
}

.footer a {
  color: #ffffff;
}

.footer a:hover {
  color: #ffffff;
  font-weight: 500;
}
