h2 {
  color: #00247d;
  font-size: 2.5rem;
}

a:hover {
  text-decoration: none;
}

.hero {
  min-height: 600px;
  background: url('./images/hero.jpg') no-repeat center center;
  background-size: cover;
  margin-top: -186px;
}

.tagline {
  padding-right: 20px;
  padding-bottom: 20px;
  color: #ffa401;
  font-family: 'Caveat', cursive;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .tagline {
    font-size: 3rem;
    padding-right: 50px;
  }
}

@media (min-width: 992px) {
  .tagline {
    font-size: 4rem;
    padding-right: 100px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .tagline {
    font-size: 5rem;
    padding-right: 100px;
    padding-bottom: 80px;
  }
}

@media (min-width: 1200px) {
  .services .card-deck {
    width: 75%;
  }
}

.services .fa-check {
  color: #ffa401;
}

.contact {
  background-color: rgba(255, 164, 1, 0.5);
}

.contact-info {
  list-style: none;
  padding: 0;
}

.contact-info .fa-phone,
.contact-info .fa-envelope,
.suburbs .fa-map-marker-alt {
  color: #00247d;
}

.footer {
  font-size: 0.8rem;
  color: #ffffff;
  background-color: rgba(0, 36, 125, 0.5);
}

.footer a {
  color: #ffffff;
}

.footer a:hover {
  color: #ffffff;
  font-weight: 500;
}
